
//container

.main__container{
  padding: 40px 2rem 1rem;
}

//main

.main__box{
  padding: inherit;
  min-height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 70px!important;
}
.main__header{
  margin-left: 1rem;
}
.main__title{
  margin-top: -0.75rem;
  height: 50px;
}
.main__navigation{
  justify-content: space-between;
  margin: 0rem;
}

//aside

.aside{
  margin-top: 50px;
  height: fit-content;
  div{
    color:$black;
  }
}
.aside__result{
  border-bottom: 1px solid $border;
  padding-bottom: 0.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.aside__menu{
  width: 100%;
  li{
    margin: 0.5rem 0!important;
  }
}
.aside__minmax{
  display: flex;
  justify-content: space-between;
  input{
    width: 40%;
  }
}
.aside__button{
  color:$white!important;
  margin-bottom: 1rem;
}

//Items
.item__container{
  position: relative;
  margin: 0.5rem 0!important;
  img{
    height: 170px;
  }
}
.item__header{
  justify-content: space-between;
  h3{
    padding: 0;
  }
}
.item__price{
  padding: 0;
}
.item__tag{
  position: absolute;
  bottom: 0;
  transform: translate(0,-50%);
}
//Tag
.tag{
  background-color: $disable;
  margin: 0 0.25rem;
  color: $white;
}