body{
.heading_level1,.heading_level2,.heading_level3,.heading_level4{
  color: $black;
  font-weight: 700;
}
.heading_level1{
  font-size: 1.375rem;
}
.heading_level2{
  font-size: 1.25rem;
}
.heading_level3{
  font-size: 1.125rem;
  font-weight: 500;
}
.heading_level4{
  font-size: 1rem;
  font-weight: 500;
}
}
.description{
  color: $disable;
  font-size: 0.875rem;
  font-weight: 300;
}
