- var json = require('./data.json')
- var reserve="truck"
- var length=json["breadcrumbs"].length
- var isActive = false
mixin link(val,isActive)
    if(isActive)
        li.is-active
            a(aria-current="page" href=val["href"]).link.is-active= val["text"]||reserve
    else
        li
            a(href=val["href"]).link=val["text"]||reserve
nav.breadcrumb.has-succeeds-separator
    ul
        each val in json["breadcrumbs"]
            if(json["breadcrumbs"][length-1]===val)
                - isActive = true
            +link(val,isActive)