div
    aside
        include aside
    div
        div
            div
                include paginations
                include sortBy
            div
                include items
            div
                include paginations
                include sortBy
            div
                include postMain

