div.columns
    aside.menu.box.aside.column.is-3
        include aside
    div.column
        include headerTitle.pug
        div.columns.main__navigation
            include paginations
        div
            include items
        div.columns.main__navigation
            include paginations
        div.columns.main__postmain
            include postMain

