div.columns
    aside.menu.box.aside.column.is-3
        include aside
    div.column
        include headerTitle.pug
        div
            include paginations
            include sortBy
        div
            include items
        div
            include paginations
            include sortBy
        div
            include postMain

