nav(role=navigator).pagination
    ul.pagination-list
        li
            a(disabled).pagination-previous
            a.pagination-link 1
        li
            a.pagination-link.is-current 2
            a.pagination-next Next page
include sortBy
