div.dropdown
    div.dropdown-trigger
        button.button
            span Sort options
    div.dropdown-menu
        div.dropdown-content
            a Dropdown item
        div.dropdown-content
            a Dropdown item