include arrowBottom
div.dropdown.sort__by
    div.dropdown-trigger.sort__by__header
        span.sort__by__header__item Sort by
        button.button
            span Sort options
            +icon
    div.dropdown-menu
        div.dropdown-content
            a Dropdown item
        div.dropdown-content
            a Dropdown item