h3 Logo / Company Name
div.footer_items
    div.footer_item
        div.footer_position
        div.footer_phone
        div.footer_contact
            include facebook
            include insta
            include twit
            include youtube
    div.footer_item
        div.footer_tetx
            p afasdfas asdf sadf af



