div.footer__items.columns
    div.footer__item.column.is-4
        div.footer__logo
            h3.heading_level3 Logo / Company Name
        div.footer__location
            span Company Adress: Lorem ipsum dolor sit amet 18600, Netherlands
        div.footer__phone
            span +38 958 755-00-00
        div.footer__contact
            include facebook
            include insta
            include twit
            include youtube
    div.footer__item.column
        div.footer__text
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.



