- var json = require('./data.json')
- var reserve="truck"
doctype html
html
    head
        meta(name='keywords' content=json["page_meta"]["meta_keywords"]||reserve)
        meta(name='description' content=json["page_meta"]["meta_description"]||reserve)
        title=json["page_meta"]["title"]||reserve
    body
        include pug/navbar.pug
        include pug/main.pug
        include pug/footer.pug
