- var json = require('./data.json')
- var reserve="truck"
doctype html
html
    head
        meta(name='keywords' content=json["page_meta"]["meta_keywords"]||reserve)
        meta(name='description' content=json["page_meta"]["meta_description"]||reserve)
        title=json["page_meta"]["title"]||reserve
        script(src="./../node_modules/@fortawesome/fontawesome-free/js/all.js")
    body
        include pug/navbar.pug
        div.container.is-max-widescreen.main__container
            include pug/main.pug
            include pug/footer.pug
